<tr class="dataset-item">
    <td colspan="3" >
        <h3>
            {% if dataset.name|length > 50 %}
                {{ dataset.name|slice(0,50) }}...
            {% else %}
                {{ dataset.name|slice(0,50) }}
            {% endif %}
        </h3>
    </td>
</tr>
<tr class="dataset-item">
    <td class="summary">
        <div class="dataset-summary">
            {% if dataset.summary|length > 500 %}
                {{ dataset.summary|slice(0,500) }}...
            {% else %}
                {{ dataset.summary }}
            {% endif %}
        </div>
    </td>
    <td class="labels">
        {#
        {% for category in dataset.category %}
            {% if category is not empty %}
                {% if category|length > 20 %}
                    <span class="label label-info">{{ category|slice(0,20) }}...</span>
                {% else %}
                    <span class="label label-info">{{ category|slice(0,20) }}</span>
                {% endif %}
            {% endif %}
        {% endfor %}
        #}
        {% if dataset.license is not empty %}
            {% if dataset.license|length > 20 %}
                <span class="label label-success">{{ dataset.license|slice(0,20) }}...</span>
            {% else %}
                <span class="label label-success">{{ dataset.license|slice(0,20) }}</span>
            {% endif %}
        {% endif %}

        {% if dataset.owner is not empty %}
            {% if dataset.owner|length > 20 %}
                <span class="label label-warning">{{ dataset.owner|slice(0,20) }}...</span>
            {% else %}
                <span class="label label-warning">{{ dataset.owner|slice(0,20) }}</span>
            {% endif %}
        {% endif %}
    </td>
    <td class="button">
        <a class="btn" href="{{ path('dataset_details', { 'dataset_number': dataset.id }) }}">Détails</a>
    </td>
</tr>