<tr class="dataset-item">
    <td colspan="3" >
        <h3>
            {% if dataset.name|length > 50 %}
                {{ dataset.name|slice(0,50) }}...
            {% else %}
                {{ dataset.name|slice(0,50) }}
            {% endif %}
        </h3>
    </td>
</tr>
<tr class="dataset-item">
    <td class="summary">
        <div class="dataset-summary">
            {% if dataset.summary|length <= 1 %} 
                No description provided
            {% elseif dataset.summary|length > 500 %}
                {{ dataset.summary|slice(0,500) }}...
            {% else %}
                {{ dataset.summary }}
            {% endif %}
        </div>
    </td>
    <td class="labels">
        {% include "App:Dataset:info-table.html.twig" with {'dataset' : dataset, 'display_date' : false} %}
    </td>
    <td class="button">
        <a class="btn" href="{{ path('dataset_details', { 'dataset_number': dataset.id }) }}">Details</a>
    </td>
</tr>
