{% extends "App::browser.html.twig" %}

{% block title %}{{ portal.name }} - Odalisk project{% endblock %}

{% block content %}
<div class="row-fluid row-nomargin-top">
    <div class="span12">
        <ul class="breadcrumb">
          <li>
            <a href="{{ path('portals') }}">Portals</a> <span class="divider">/</span>
          </li>
          <li class="active">{{ portal.name }}</li>
        </ul>
        <div class="well hero-unit hero-unit-intro hero-unit-portal">
            <h1>{{ portal.name }} <a target="_blank" href="{{portal.url}}"><i class="icon-play-circle"></i> go to portal page</a></h1>
            <div class="clearfix"></div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span4">
                        {% include "App:Portal:info-table.html.twig" with {'portal' : portal, 'display_date' : true } %}
                    </div>
                    <div class="span8">
                        {% set totalScore = portal.metric.score  * 100 %}
                        <table class="table score table-bordered">
                            <tr class="total-score">
                                <td class="key">Score</td>
                                <td class="progress-bar">
                                    {% include "App:Api:progress-bar.html.twig" with {'score': totalScore} %}
                                </td>
                                <td class="note">{{ portal.metric.score  * 100 }}%</td>
                            </tr>
                            {% for category in portal.metric.subsections %}
                                {% set score = (category.score / category.coefficient ) * 100 %}
                                <tr>
                                    <td class="key">{{ category.description }}</td>
                                    <td class="progress-bar">
                                        {% include "App:Api:progress-bar.html.twig" with {'score': score} %}
                                    </td>
                                    <td class="note">{{ score }}%</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid row-nomargin-top">
                <div class="span12">
                    <ul class="nav nav-tabs" id="portalTab">
                      <li class="active"><a href="#datasets" data-toggle="tab">Datasets</a></li>
                      <li><a href="#criteria" data-toggle="tab">Score</a></li>

                    </ul>

                    <div class="tab-content">
                      <div class="tab-pane active" id="datasets">
                          {% include "App:Search:dataset-list.html.twig" with {'current_portal': portal.id} %}
                      </div>
                      <div class="tab-pane" id="criteria">
                          {% include "App:Portal:portal-metrics.html.twig" with {'portal': portal} %}
                      </div>
                  </div>
                </div>
            </div><!--/row-->
        </div>
    </div>
</div>
{% endblock %}

{% block jsvariables %}
    window.searchType = "dataset";
    window.displayType = "list";
    window.needResult = true;
    {{ parent() }}
{% endblock %}
