{% extends "App::browser.html.twig" %}

{% block title %}Odalisk project{% endblock %}

{% block content %}
<div class="row-fluid row-nomargin-top">
    <div class="span12">
        <ul class="breadcrumb">
          <li>
            <a href="{{ path('browser') }}">Browser</a> <span class="divider">/</span>
            <a href="{{ path('portals') }}">Portals</a> <span class="divider">/</span>
          </li>
          <li class="active">{{ portal.name }}</li>
        </ul>
        <div class="well hero-unit hero-unit-intro">
            <h1>{{ portal.name }} :</h1>
            <div class="clearfix"></div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span4">
                        <table class="table table-bordered ">
                            <tr>
                                <td class="key">Catégories</td>
                                <td>Urbanisme</td>
                            </tr>
                            <tr>
                                <td class="key">Fréquence</td>
                                <td>Trimestrielle</td>
                            </tr>
                            <tr>
                                <td class="key">Mise à disposition</td>
                                <td>17/11/2011</td>
                            </tr>
                            <tr>
                                <td class="key">Mise à jour</td>
                                <td>15/02/2012</td>
                            </tr>
                            <tr>
                                <td class="key">Licence</td>
                                <td><span class="label label-success">ODBL</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="span8">
                        <table class="table score table-bordered">
                            <tr class="total-score">
                                <td class="key">Score</td>
                                <td class="progress-bar">
                                    <div class="progress progress-striped
                                     active progress-success">
                                      <div class="bar"
                                           style="width: 85%;"></div>
                                    </div>
                                </td>
                                <td class="note">163/200</td>
                            </tr>
                            <tr>
                                <td class="key">Feedback</td>
                                <td class="progress-bar">
                                    <div class="progress progress-striped
                                     active progress-warning">
                                      <div class="bar"
                                           style="width: 40%;"></div>
                                    </div>
                                </td>
                                <td class="note">83/200</td>
                            </tr>
                            <tr>
                                <td class="key">Openess</td>
                                <td class="progress-bar">
                                    <div class="progress progress-striped
                                     active progress-info">
                                      <div class="bar"
                                           style="width: 70%;"></div>
                                    </div>
                                </td>
                                <td class="note">155/200</td>
                            </tr>
                            <tr>
                                <td class="key">API</td>
                                <td class="progress-bar">
                                    <div class="progress progress-striped
                                     active progress-danger">
                                      <div class="bar"
                                           style="width: 20%;"></div>
                                    </div>
                                </td>
                                <td class="note">42/200</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="fluid-container">
            <div class="row-fluid row-nomargin-top">
                <div class="span12">
                    {% include "App:Search:dataset-list.html.twig" with {'current_portal': portal.id} %}
                </div>
            </div><!--/row-->
        </div>
    </div>
</div>
{% endblock %}

{% block jsvariables %}
    window.searchType = "dataset";  
    window.needResult = true;
    {{ parent() }}
{% endblock %}
