<table class="table table-bordered info-table">
    <tr>
        <td class="key">Entity</td>
        <td class="value">{{ portal.entity }}</td>
    </tr>
    <tr>
        <td class="key">Country</td>
        <td class="value">{{ portal.country }}</td>
    </tr>
    <tr>
        <td class="key">Type</td>
        <td class="value">{{ portal.status}}</td>
    </tr>
    {% if display_date %}
    <tr>
        <td class="key">First crawl <i class="icon-info-sign icon-info" rel="popover" title="First crawl" data-content="First time we crawled the portal." class="icon-info-sign
        "></i></td>
        <td class="value">{{ portal.createdAt|date("d/m/Y") }}</td>
    </tr>
    <tr>
        <td class="key">Last crawl <i class="icon-info-sign icon-info" rel="popover" title="Last crawl" data-content="Last time we crawled the portal."></i></td>
        <td class="value">{{ portal.createdAt|date("d/m/Y") }}</td>
    </tr>
    {% endif %}
</table>