<div class="row-fluid row-nomargin-top">
    <div class="span9" id="portal-metrics">
    {% for category in portal.metric.subsections %}
        <table class="category-table table table-stripped table-bordered">
            <thead>
                <tr class="table-head">
                    <th  class="description">
                        {{ category.description }}
                    </th>
                    <th class="coeff">
                        Coeff.
                    </th>
                    <th  class="score">
                        Score
                    </th>
                </tr>
                
            </thead>
            <tbody>
                {% for metric in category.subsections %}
                
                    {% if metric.subsections|length > 0 %}
                        <tr class="category-first-level">
                            <td class="description">
                                <strong>{{ metric.description }}</strong>
                            </td>
                            
                            
                            <td class="coeff">{{ metric.coefficient * 100}}%</td>
                            <td class="score percentage">
                                {{ (metric.score / metric.coefficient) * metric.subsections|length }}/{{ metric.subsections|length }}
                            </td>
                        </tr>
                        {% for node in metric.subsections %}
                            <tr>
                                <td class="second-level description">
                                    {{ node.description }}
                                </td>
                                <td></td>
                                
                                {% include "App:Common:icon-box.html.twig"  with {'score': node.score, 'coefficient':node.coefficient} %}
                                
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="description">
                                {{ metric.description }}
                            </td>
                            <td></td>
                            {% include "App:Common:icon-box.html.twig" with {'score': metric.score, 'coefficient':metric.coefficient} %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">
                        {{ category.description }} total : {{ (category.score / category.coefficient) * 100}}%
                    </th>
                </tr>
            </tfoot>
        </table>
    {% endfor %}
    </div><!-- span9-->
    <div class="span3">
        <table class="formats-distribution table table-bordered ">
            {% include 'App:Common:progress-table.html.twig' with {'values':formats, 'other':true} %}
        </table>
        <table class="licenses-distribution table table-bordered ">
            {% include 'App:Common:progress-table.html.twig' with {'values':licenses, 'other':true} %}
        </table>
        <table class="categories-distribution table table-bordered ">
            {% include 'App:Common:progress-table.html.twig' with {'values':categories, 'other':false} %}
        </table>
    </div>
</div>