{% if current_portal is null %}
    <li class="nav-header">Portails</li>
    {% for portal in portals %}
            <li><span data-value="{{ portal.id }}" data-type="portal" class="label">{{ portal.name }} <span>+</span></span></li>
    {% endfor %}
{% else %}
    <li style="height:0px;padding:0px;margin:0px;overflow:hidden;"><span style="height:0px;padding:0px;margin:0px;overflow:hidden;" data-value="{{ current_portal }}" data-active="true" data-type="portal" class="label"></span></li>
{% endif %}

{% if categories|length > 0 %}
    <li class="nav-header">Categories</li>
    {% for category in categories %}
        <li><span data-value="{{ category.id }}" data-type="category" class="label">{{ category.category }} <span>+</span></span></li>
    {% endfor %}
{% endif%}

{% if licenses|length > 0 %}
    <li class="nav-header">Licenses</li>
    {% for license in licenses %}
        <li><span data-value="{{ license.id }}" data-type="license" class="label">{{ license.name }} <span>+</span></span></li>
    {% endfor %}
{% endif%}

{% if formats|length > 0 %}
    <li class="nav-header">Formats</li>
    {% for format in formats %}
        <li><span data-value="{{ format.id }}" data-type="format" class="label">{{ format.format }} <span>+</span></span></li>
    {% endfor %}
{% endif%}
